# Portas mapeadas para o host
PORT_MACHINE_FRONTEND=3000
PORT_MACHINE_BACKEND=5000
PORT_MACHINE_DB=5432

# Banco de dados
POSTGRES_USER=seu_usuario
POSTGRES_PASSWORD=sua_senha
POSTGRES_DB=horas_discentes_db
DATABASE_URL=Host=db;Port=5432;Database=horas_discentes_db;Username=seu_usuario;Password=sua_senha

# A url para front se conectar ao back
# Para uso local fora do Docker use: http://localhost:5000/api
# Para Docker, use o nome do serviço backend (se estiver na mesma rede):
NEXT_PUBLIC_API_URL=http://localhost:5000/api

# Chave secreta para NextAuth.js
NEXTAUTH_SECRET=sua_chave_secreta_aqui
NEXTAUTH_URL=http://localhost:3000

# Variáveis do Backend
JWT__Key=sua_chave_jwt_aqui
JWT__Issuer=SeuSistema
JWT__Audience=SeuSistemaUsuarios

ADMIN_EMAIL=admin@exemplo.com
ADMIN_PASSWORD=SuaSenhaForteAqui

EMAIL__Remetente=seu_email@gmail.com
EMAIL__Senha=sua_senha_de_aplicativo_aqui
EMAIL__Smtp=smtp.gmail.com
EMAIL__Porta=587

Gmail__ApplicationName=Horas Discentes
Gmail__CredenciaisPath=credentials.json
Gmail__TokenPath=token.json

COORDENADOR_CONVITE_LINK=http://localhost:3000/criarContaCoordenador

# MinIO (armazenamento de anexos)
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
